/*
Paletas de colores.
Fondo: #040D12
Segundo color: #183D3D
Tercer color: #5C8374
Cuarto color: #93B1A6

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*--------Reseteamos los parametros-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

/*--------Fondo de las secciones--------*/
body{
    background-color: #040D12;
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.header{
    min-height: 7vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .nav ul li {
    position: relative;
    float: left;
}

.menu .nav ul li a{
    font-size: 12px;
    padding: 15px;
    display: block;
    color: #040D12;
    font-weight: 600;   
}

.menu .nav ul li a:hover{
    color: dimgray; 
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}















.header, .contenedor-turnos, .contenedor-sobre, footer{
    background-color: #FFFFFF;
    
}

.card,.contenedor-contacto, .contenedor-calendario-turnos > p{
    color: black;
}

.card, .contenedor-contacto > p{
    color: #FFFFFF;
}
/*--------Fin del fondo de las secciones--------*/















/*-------------------SECCION-RESPONSIVA-------------------*/

/* Estilos para teléfonos móviles (mayor o igual a 576px) */
@media only screen and (min-width: 576px) {
    /* Agrega tus estilos para teléfonos móviles aquí */
}

/* Estilos para tabletas (mayor o igual a 768px) */
@media only screen and (min-width: 768px) {
    /* Agrega tus estilos para tabletas aquí */
}

/* Estilos para portátiles (mayor o igual a 992px) */
@media only screen and (min-width: 992px) {
    /* Agrega tus estilos para portátiles aquí */
}

/* Estilos para grandes dispositivos (mayor o igual a 1200px) */
@media only screen and (min-width: 1200px) {
    /* Agrega tus estilos para grandes dispositivos aquí */
}

/*--------------------FIN-DE-SECCION-RESPONSIVA-------------------*/